[Unit]
Description=Test API

StartLimitIntervalSec=0

Requires=docker.service
After docker.service

[Service]
Restart=on-failure
RestartSec=5

ExecStart=/usr/bin/docker run \
    --rm
    --publish 80:8080\
    --name=api \
    --volume /etc/instaclustr/:/config/ \
    devweek.jfrog.io/dev-week/api:{{ version }}

ExecStop=/usr/bin/docker stop api

[Install]
WantedBy=multi-user.target